html{
    background-color: rgb(147, 223, 147);
}

.alls{
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    height: 120px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: rgb(12, 204, 12);
}

input[type="submit"]:hover {
    background-color:rgb(201, 245, 201);
}