html{
    background-color: #FFEEAD;
}

input[type=submit]{
background-color: rgb(180, 180, 180);
}

input[type=submit]:hover{
    background-color: rgb(226, 226, 226);
    }

.all{
    text-align: center;
    margin: 50px auto;
}

