html{
    background-color: rgb(255, 134, 134);
    }

.alls{
    text-align: center;
}

input[type="submit"] {
    width: 200px;
    height: 120px;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    background-color: rgb(255, 34, 34);
}

input[type="submit"]:hover {
    background-color:rgb(255, 200, 200);
}