html{
    background-color: #FFEEAD;
}


.edit{
width: 200px;
height: 60px;
font-size: 40px;
font-weight: bold;
background-color: #FFAD60;
}

.edit:hover{
background-color: #faf5e3;
}

h2{
text-align: center;
}
h3{
background-color: #FFAD60;
}

.present{
        border-top: solid #FFAD60 10px;
        border-bottom: solid #FFAD60 10px;
        border-left: double #FFAD60 10px;
        border-right: double  #FFAD60 10px;
        background-color: white ;
        margin-top: 10px;
        padding-top: 20px;
        width: 80%;
        margin: 10px auto;
        word-break: break-word;
}


.title{
    font-size: 40px;
    font-weight: bold;
}